

.login-container {
    margin-top: 7.5rem;
    font-family: 'Poppins', sans-serif;
}

.common-btn{
    border-radius:1.5rem ;
    padding: .75rem 1.05rem;
    font-weight: 600;
    color: #BEADFA;
    border: none;
    font-size: 1.05rem;
    background-color:#001F3F;
}