.client-navbar{
    font-family: 'Montserrat', sans-serif;
    border-radius: 2rem;
}

.nav-link {
    font-size: .9rem;
    font-weight: 700;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #1b1111;
}

