.form-body{
    margin-top: 4.5rem;
    font-family: 'Poppins', sans-serif;
}

.form-body label{
    font-size: 1.05rem;
}

.invalid {
    border: 1px solid red;
    background-color: rgb(174, 85, 85);
}