body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

textarea {
    resize: none;
    width: fit-content;
    height: 10rem;
}

label {
    font-size: .85rem;
}

input,textarea {
    font-size: .95rem;
}